<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Prueba QA  Automation">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <parameter name="browser" value="chrome"/>
    <test name="Prueba QA">
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test>
</suite>